*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ########################html element styling######################## */

html{
    /* font-size: 10px; */
    /* 16px----100% */
    /* 10px------(10/16)*10 */ 
    font-size: 62.5%;
}

body{
    font-family: sans-serif;  
    background-color: rgb(128, 135, 141);
    /* background-color: black; */
} 

p, li{
    font-size: 1.4rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

/* #################utilty class############################ */

.container{
    width: 100vw;
    margin: 0 auto;
}

/* #######################  Head ###################### */



.form{
    height: 99vh;
    width: 99vw;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url('../img/obito.jpg');
    background-position: center;
}

.sec{
    font-size: 1.5rem;
    color: aliceblue;
    border: 2px dashed rgba(240, 231, 231, 0.705);
    border-radius: 20px;
    width: 48vw;
    margin-inline: auto;
    padding: 2.5rem;
    text-align: center;
    backdrop-filter: blur(5px);

}

.sec input{
    background: rgba(255, 255, 255, 0.288);
    padding: 0.95rem 10px;
    color: aliceblue;
    
}

.login-check,
.login-check-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-check{
    margin-bottom: 1.5rem;
}


/* .login-check-label,
.login-forget,
.login-register{

    
} */

.login-check-group{
    column-gap: 0.5rem;
}

.login-check-input{
    width: 16px;
    height: 16px;
}

.login-forget{
    color: aliceblue;
}

.login-forget:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;

}

.login-register{
    text-align: center;
}

.login-register a{
    color: #fff;
    text-decoration: none;
    
}

.login-register a:hover{
    text-decoration: underline;

}

i{
    cursor: pointer;
}

/* .x1{
    border: 2px dashed blue;
    width: 50vw;
    height: 50vh;
} */

.x1 a{
    position: absolute;
    background-color: rgba(221, 221, 221, 0.322);
    color: #04492383;
    padding: 1rem;
    border-radius: 1em;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.x1 a:hover{
    color: cyan;
}